[Unit]
Description=Export Mosquitto MQTT broker statistics to Prometheus
After=network.target auditd.service sssd.service
PartOf=mosquitto.service

[Service]
EnvironmentFile=-/etc/prometheus-mosquitto-exporter/service-env
ExecStart=/usr/sbin/prometheus-mosquitto-exporter $OPTIONS
Restart=on-failure

[Install]
WantedBy=multi-user.target

