[Unit]
Description=Export Mosquitto MQTT broker statistics to Prometheus
After=network.target auditd.service sssd.service

[Service]
EnvironmentFile=-/etc/default/prometheus-mosquitto-exporter
ExecStart=/usr/sbin/prometheus-mosquitto-exporter $OPTIONS
Restart=on-failure
User=prometheus
Group=prometheus

[Install]
WantedBy=multi-user.target

